@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil|Source+Code+Pro:900');

/* detail root variables */
:root {
  --font-serif: 'Allerta Stencil', sans-serif;
  --font-mono: 'Source Code Pro', monospace;
  --color-text: #efeee7;
  --color-bg: #223458;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.error-img {
  width: 65%;
  height: 500px;
}

.img {
  width: 400px;
  height: auto;
  object-fit: cover;
}

.img:hover {
  transform: translateY(1px);
  box-shadow: 2px 2px 20px 2px rgb(53, 51, 51);
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

.cards {
  width: 400px;
  font-size: 20px;
  height: min-content;
}

.cardtitle {
  font-family: 'Chicle', cursive;
font-size: 25px;
  margin: 2px;
  display: flex;
  justify-content: center;
    align-content: center;
    align-items: center;
}

.sub-title,
.rating {
  font-family: 'Carter One', cursive;
  font-weight: bolder;
  letter-spacing: 2px;
}

.description {
  font-family: 'Carter One', cursive;
  font-style: oblique;
  letter-spacing: 2px;
  font-weight: 1000;
  display: flex;
  align-items: center;
  flex-direction: row;

}

.primary {

  font-size:xx-large;
}

.pfont {
  font-family: var(--font-serif);
  text-align: justify;
}
.pfont-info {
  font-family: var(--font-serif);
  text-align: center;
}

.star-info {
  display: flex;
}

.infoOutlineIcon {
  cursor: pointer;
}

.button-group {
  display: flex;
  align-items: center;
}

.video {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.video-title {
  text-align: center;
  font-family: var(--font-mono);
  font-size: 1.5rem;
  padding: 10px;
  font-weight: 400;
}
.video-card {
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;
}
.movies-page {
  margin-top: 40px;
}

.movie_form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 10px;
  padding: 0px 50px;
}

.movie_form input {
  padding: 10px;
  border-radius: 6px;
  font-size: 18px;
  color: #242c35;
}

.button {
  padding: 12px;
  border-radius: 20px;
}

.toggle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.colorbox-input {
  background: transparent;
  border: 2px solid #5d0cff;
  border-radius: 4px 0 0 4px;
  width: 300px;
  outline: none;
  padding: 7px;
  font-family: var(--font-serif);
  margin-top: 70px;
}
.coloritems {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;
}

.total-colorbox {
  height: 100vh;
}

.addcolors {
  display: flex;
  justify-content: center;
}

.home {
  margin-top: 190px;
  font-size: xx-large;
  font-family: var(--font-serif);
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .error-img {
    width: 100%;
    height: auto;
  }
}
@media only screen and (max-width: 500px) {
  ul {
    list-style-type: disc;
    gap: 2px;
    font-size: 0.7rem;
    font-weight: 300;
    margin-left: 8px;
    flex-direction: column;
    margin-left: 30px;
  }
  .home {
    margin-top: 80px;
    font-size: large;
  }
 
}
